<!doctype html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:700|Droid+Serif' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6ceb67ac81.js" crossorigin="anonymous"></script>
    <title>Mi sitio web</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
</head>

<!-- Menu -->
<nav class="navbar navbar-expand-lg"
style="background-color: #004c63; position: fixed; width: 100%; z-index: 100; ">
<div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Inicio</a>
    <button class="navbar-toggler text-white" style="border: none; color: white;" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/activarServicios/">Activar servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/reservas/">Reservar</a>
            </li>


        </ul>
        <form class="d-flex" role="search" style="align-items: center;">

            <input class="form-control me-2" style="height: 30px;" type="search" placeholder="Buscar"
                aria-label="Search">
            <button class="btn btn-outline-info d-flex" type="submit"
                style="align-items: center; background: white; fill: #004c63;"><svg
                    style="width: 15px; color:white;" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                </svg></button>
        </form>
    </div>
</div>
</nav>
<!-- Fin menu -->

<div class="row form-edit">
    <div class="col-md-4 offset-md-4">
        
        <div class="card">
            <div class="card-body">
                <form action="/editarHotel/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="inicio-form">
                            
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.25em"
                            viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M0 32C0 14.3 14.3 0 32 0H480c17.7 0 32 14.3 32 32s-14.3 32-32 32V448c17.7 0 32 14.3 32 32s-14.3 32-32 32H304V464c0-26.5-21.5-48-48-48s-48 21.5-48 48v48H32c-17.7 0-32-14.3-32-32s14.3-32 32-32V64C14.3 64 0 49.7 0 32zm96 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H112c-8.8 0-16 7.2-16 16zM240 96c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H240zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H368c-8.8 0-16 7.2-16 16zM112 192c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H112zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H240c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H368zM328 384c13.3 0 24.3-10.9 21-23.8c-10.6-41.5-48.2-72.2-93-72.2s-82.5 30.7-93 72.2c-3.3 12.8 7.8 23.8 21 23.8H328z" />
                        </svg>
                        <h2>Editar Hotel</h2>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtIDHotel" name="txtIDHotel" value="{{hotel.IDHotel}}" class="form-control" placeholder="Código"
                            minlength="1" maxlength="6" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtnombreHotel" name="txtnombreHotel" value="{{hotel.nombreHotel}}" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="estrellasHotel" name="estrellasHotel" value="{{hotel.estrellasHotel}}" class="form-control" min="1" max="9"
                            value="" required>
                    <div class="form-group">
                        <input type="text" id="costoHotel" name="costoHotel" value="{{hotel.costoHotel}}" class="form-control" placeholder="Código"
                             required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="serviciosHotel" name="serviciosHotel" value="{{hotel.serviciosHotel}}" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                  
                    <div class="form-group">
                        <img class="img-hotel" src="http://127.0.0.1:3000/media/{{hotel.imagenHotel}}" alt="">
                        <input type="file" id="imagenHotel" name="imagenHotel" value="{{hotel.imagenHotel}}" class="form-control" placeholder="Nombre"
                            maxlength="50">
                    </div>
                   
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


 <!-- Footer -->
 <footer class=" text-center text-white" style="background-color: #006787;"> 
    <div class="text-center p-3" style="background-color: #004c63;">© 2023 Copyright | "La vida es un viaje y quien viaja vive dos veces" - Omar Khayyam</div>
</footer>
<!-- Footer -->