<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:700|Droid+Serif' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6ceb67ac81.js" crossorigin="anonymous"></script>
    <title>Mi sitio web</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<style>
    form input {
        height: 38px;
    }
</style>

<body>

    <!-- Menu -->
    <nav class="navbar navbar-expand-lg"
        style="background-color: #004c63; position: fixed; width: 100%; z-index: 100; ">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/">Inicio</a>
            <button class="navbar-toggler text-white" style="border: none; color: white;" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="">Activar servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="../reservas/">Reservar</a>
                    </li>


                </ul>
                <form class="d-flex" role="search" style="align-items: center;">

                    <input class="form-control me-2" style="height: 30px;" type="search" placeholder="Buscar"
                        aria-label="Search">
                    <button class="btn btn-outline-info d-flex" type="submit"
                        style="align-items: center; background: white; fill: #004c63;"><svg
                            style="width: 15px; color:white;" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg></button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Fin menu -->




    <div class="content">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <div class="forms-vuelos-hoteles row" style="justify-content: space-evenly;">
                <div class="card col-12 col-md-6" style="padding: 10px; border: none;">
                    <div style="border: 1px solid #ccc; border-radius: 8px; padding: 10px;">
                        <div class="inicio-form">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1.25em"
                                viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path
                                    d="M381 114.9L186.1 41.8c-16.7-6.2-35.2-5.3-51.1 2.7L89.1 67.4C78 73 77.2 88.5 87.6 95.2l146.9 94.5L136 240 77.8 214.1c-8.7-3.9-18.8-3.7-27.3 .6L18.3 230.8c-9.3 4.7-11.8 16.8-5 24.7l73.1 85.3c6.1 7.1 15 11.2 24.3 11.2H248.4c5 0 9.9-1.2 14.3-3.4L535.6 212.2c46.5-23.3 82.5-63.3 100.8-112C645.9 75 627.2 48 600.2 48H542.8c-20.2 0-40.2 4.8-58.2 14L381 114.9zM0 480c0 17.7 14.3 32 32 32H608c17.7 0 32-14.3 32-32s-14.3-32-32-32H32c-17.7 0-32 14.3-32 32z" />
                            </svg>
                            <h2>Activar Vuelos</h2>
                        </div>
                        <div class="card-body">
                            <form action="/registrarVuelo/" method="POST">{% csrf_token %}

                                <div class="form-group">
                                    <label for="FormControlInput">Origen</label>
                                    <select class="form-control" name="txtorigenVuelo" id="txtorigenVuelo">
                                        <option value="">Seleccione...</option>
                                        <option value="Arauca">Arauca</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Barranquilla">Barranquilla</option>
                                        <option value="Bogotá">Bogotá</option>
                                        <option value="Bucaramanga">Bucaramanga</option>
                                        <option value="Cali">Cali</option>
                                        <option value="Cartagena">Cartagena</option>
                                        <option value="Cúcuta">Cúcuta</option>
                                        <option value="Florencia">Florencia</option>
                                        <option value="Ibagué">Ibagué</option>
                                        <option value="Leticia">Leticia</option>
                                        <option value="Manizales">Manizales</option>
                                        <option value="Medellín">Medellín</option>
                                        <option value="Mitú">Mitú</option>
                                        <option value="Mocoa">Mocoa</option>
                                        <option value="Montería">Montería</option>
                                        <option value="Neiva">Neiva</option>
                                        <option value="Pasto">Pasto</option>
                                        <option value="Pereira">Pereira</option>
                                        <option value="Popayán">Popayán</option>
                                        <option value="Puerto Carreño">Puerto Carreño</option>
                                        <option value="Puerto Inírida">Puerto Inírida</option>
                                        <option value="Quibdó">Quibdó</option>
                                        <option value="Riohacha">Riohacha</option>
                                        <option value="San Andrés">San Andrés</option>
                                        <option value="San José del Guaviare">San José del Guaviare</option>
                                        <option value="Santa Marta">Santa Marta</option>
                                        <option value="Sincelejo">Sincelejo</option>
                                        <option value="Tunja">Tunja</option>
                                        <option value="Valledupar">Valledupar</option>
                                        <option value="Villavicencio">Villavicencio</option>
                                        <option value="Yopal">Yopal</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="FormControlInput">Destino</label>
                                    <select class="form-control" name="destinoVuelo" id="destinoVuelo">

                                        <option value="">Seleccione...</option>
                                        <option value="Arauca">Arauca</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Barranquilla">Barranquilla</option>
                                        <option value="Bogotá">Bogotá</option>
                                        <option value="Bucaramanga">Bucaramanga</option>
                                        <option value="Cali">Cali</option>
                                        <option value="Cartagena">Cartagena</option>
                                        <option value="Cúcuta">Cúcuta</option>
                                        <option value="Florencia">Florencia</option>
                                        <option value="Ibagué">Ibagué</option>
                                        <option value="Leticia">Leticia</option>
                                        <option value="Manizales">Manizales</option>
                                        <option value="Medellín">Medellín</option>
                                        <option value="Mitú">Mitú</option>
                                        <option value="Mocoa">Mocoa</option>
                                        <option value="Montería">Montería</option>
                                        <option value="Neiva">Neiva</option>
                                        <option value="Pasto">Pasto</option>
                                        <option value="Pereira">Pereira</option>
                                        <option value="Popayán">Popayán</option>
                                        <option value="Puerto Carreño">Puerto Carreño</option>
                                        <option value="Puerto Inírida">Puerto Inírida</option>
                                        <option value="Quibdó">Quibdó</option>
                                        <option value="Riohacha">Riohacha</option>
                                        <option value="San Andrés">San Andrés</option>
                                        <option value="San José del Guaviare">San José del Guaviare</option>
                                        <option value="Santa Marta">Santa Marta</option>
                                        <option value="Sincelejo">Sincelejo</option>
                                        <option value="Tunja">Tunja</option>
                                        <option value="Valledupar">Valledupar</option>
                                        <option value="Villavicencio">Villavicencio</option>
                                        <option value="Yopal">Yopal</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="FormControlInput">Fecha</label>
                                    <input type="date" id="fechaVuelo" name="fechaVuelo" class="form-control"
                                        placeholder="fechaVuelo" maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label for="FormControlInput">Hora Salida</label>
                                    <input type="time" id="horaSalidaVuelo" name="horaSalidaVuelo" class="form-control"
                                        placeholder="horaSalidaVuelo" maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label for="FormControlInput">Hora Llegada</label>
                                    <input type="time" id="horaLlegadaVuelo" name="horaLlegadaVuelo"
                                        class="form-control" placeholder="horaLlegadaVuelo" maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label for="FormControlInput">Sillas disponibles</label>
                                    <input type="text" id="sillasDisponibleVuelo" name="sillasDisponibleVuelo"
                                        class="form-control" placeholder="Sillas Disponible" maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label for="FormControlInput">Costo</label>
                                    <input type="number" id="costoVuelo" name="costoVuelo" class="form-control"
                                        placeholder="Costo Vuelo" maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="card col-12 col-md-6" style="padding: 10px; border: none;">
                    <div style="border: 1px solid #ccc; border-radius: 8px; padding: 10px;">
                        <div class="inicio-form">
                            
                            <svg xmlns="http://www.w3.org/2000/svg" height="1.25em"
                                viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path
                                    d="M0 32C0 14.3 14.3 0 32 0H480c17.7 0 32 14.3 32 32s-14.3 32-32 32V448c17.7 0 32 14.3 32 32s-14.3 32-32 32H304V464c0-26.5-21.5-48-48-48s-48 21.5-48 48v48H32c-17.7 0-32-14.3-32-32s14.3-32 32-32V64C14.3 64 0 49.7 0 32zm96 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H112c-8.8 0-16 7.2-16 16zM240 96c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H240zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H368c-8.8 0-16 7.2-16 16zM112 192c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H112zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H240c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H368zM328 384c13.3 0 24.3-10.9 21-23.8c-10.6-41.5-48.2-72.2-93-72.2s-82.5 30.7-93 72.2c-3.3 12.8 7.8 23.8 21 23.8H328z" />
                            </svg>
                            <h2>Activar Hoteles</h2>
                        </div>
                        <div class="card-body">
                            <form action="/registrarHotel/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                <div class="form-group">
                                    <input type="text" id="txtIDHotel" name="txtIDHotel" class="form-control"
                                        placeholder="Código" hidden>
                                </div>
                                <div class="form-group">
                                    <label for="FormControlInput">Nombre</label>
                                    <input type="text" id="txtnombreHotel" name="txtnombreHotel" class="form-control"
                                        placeholder="Nombre Hotel" maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label for="FormControlInput">Estrellas</label>
                                    <input type="text" id="estrellasHotel" name="estrellasHotel" class="form-control"
                                        placeholder="Estrellas Hotel" maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label for="FormControlInput">Costo por noche</label>
                                    <input type="text" id="costoHotel" name="costoHotel" class="form-control"
                                        placeholder="Costo Hotel" maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label for="FormControlInput">Servicios</label>
                                    <input type="text" id="serviciosHotel" name="serviciosHotel" class="form-control"
                                        placeholder="Servicios Hotel" maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label for="FormControlInput">Imagen</label>
                                    <input type="file" id="imagenHotel" name="imagenHotel" class="form-control"
                                        placeholder="imagenHotel" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <h1>Listado de vuelos disponibles</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead>

                            <tr>
                                <th>ID</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Fecha</th>
                                <th>Hora Salida</th>
                                <th>Hora Llegada</th>
                                <th>Sillas Disponibles</th>
                                <th>Costo Vuelo</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in vuelos %}
                            <tr>
                                <td>{{i.IDVuelo}}</td>
                                <td>{{i.origenVuelo}}</td>
                                <td>{{i.destinoVuelo}}</td>
                                <td>{{i.fechaVuelo}}</td>
                                <td>{{i.horaSalidaVuelo}}</td>
                                <td>{{i.horaLlegadaVuelo}}</td>
                                <td>{{i.sillasDisponibleVuelo}}</td>
                                <td>{{i.costoVuelo}}</td>

                                <td><a href="edicionVuelo/{{i.IDVuelo}}" class="btn btn-info">Editar</a></td>
                                <td><a href="eliminarVuelo/{{i.IDVuelo}}"
                                        class="btn btn-danger btnEliminacion">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <h1>Listado de hoteles disponibles</h1>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Estrellas</th>
                            <th>Costo por noche</th>
                            <th>Servicios</th>
                            <th>Fotos</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in hoteles %}
                        <tr>

                            <td>{{i.IDHotel}}</td>
                            <td>{{i.nombreHotel}}</td>
                            <td>{{i.estrellasHotel}}</td>
                            <td>{{i.costoHotel}}</td>
                            <td>{{i.serviciosHotel}}</td>
                            <td>{{i.imagenHotel}}</td>


                            <td><a href="edicionHotel/{{i.IDHotel}}" class="btn btn-info">Editar</a></td>
                            <td><a href="eliminarHotel/{{i.IDHotel}}" class="btn btn-danger btnEliminacion">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</body>


</html>
<script src="{% static 'js/gestionForm.js' %}"></script>

 <!-- Footer -->
 <footer class=" text-center text-white" style="background-color: #006787;"> 
    <div class="text-center p-3" style="background-color: #004c63;">© 2023 Copyright | "La vida es un viaje y quien viaja vive dos veces" - Omar Khayyam</div>
</footer>
<!-- Footer -->